.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    

}