.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 60px;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato red);
    background-color: orange;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    margin: 30px 20px;
    
    
}
.mission-in-2022{
    font-size: 70px;
    text-align: center;
}
.mission{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: floralwhite;
}
.Vision{
    background-color: azure;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}
.goals{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgb(202, 184, 181);
}
.stay-focused{
    margin-left: 60px;
    border-left: 3px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
    margin-top: 80px;
}
h1{
    font-size: 40px;
}

p{
    font-size: 25px;
}
.person-img{
    padding-left: 170px;
}
.mission-area{
    padding-left: 40px;
}
.global-community-area{
    display: flex;
}
.mission-2022{
    font-style: italic;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 30px;
}
.year-color{
    color: tomato;
}
.cash{
    color: tomato;
}
.position{
    padding-left: 200px;
}