.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato red);
    background-color: orange;
    padding: 10px 40px;
    color: white;
    font: 700;
    border-radius: 5px;
    
    
}